/* ================================================= 
Base Element Styles----------Base element Styles 
================================================== */

/* This is the section where you select the specific elements. For example here is where you would choose "a" or "body" or "ul" or "h2" etc. */
* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  background: #CDE5D7;
}

img {
  max-width: 100%;
  /* setting this constrains the image to the width of the viewport */
}


/* ================================================Base Layout Styles------------Base Layout Styles================================================== */

/* -----------------Navigation-------------------- */
.bg {
  padding: 15px;
  background: white;
  margin: 5px;
  border-radius: 3px;
}

li {
  margin: 10px 0;
}

.main-header {
  text-align: center;
}

/* -----------------Containers------------------- */
.banner, .portfolio, .contact, .main-footer {
  display: flex;
} 

.main-header {}

.container {
  /* margin: 0 auto; */
  padding: 10px 30px;
}

.main-header, .banner, .portfolio, .contact, .col {
  flex-direction: column;
  align-items: center;
}


/* ------------------Banner-------------------- */
.banner img {
  padding: 25px;
}

.banner p {
  text-align: center; 
  padding: 10px;
}


/* ------------------Portfolio------------------ */
.portfolio {
  background: white;
  padding: 10px 20px;
  border-radius: 5px;

}

.portfolio h2, .col {
  text-align: center;
}

/* -----------------Contact--------------------- */



/* ----------------Footer----------------------- */
.main-footer {
  justify-content: space-between;
  border-top: .1px solid grey; 
}








/* Media Queries------------------------Media Queries */

@media (min-width: 769px) {
 .portfolio {
display: flex;
flex-flow: row wrap;
}

}